body {
    font: 12px Arial, Helvetica, sans-serif;
}

.header {
    height: 50px;
    line-height: 50px;
    padding: 5px;
    background: #cc181e;
}

.header input[type=button] {
	height: 26px;
}

.content {
    background: lightgoldenrodyellow;
}

.search-tb {
    width: 250px;
    height: 20px;
}

.content {
    padding: 8px;
}

.content .item {
    margin: 10px 0;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.content .item > div {
    display: inline-block;
    vertical-align: top;
}

.content .item > .thumb {
    width: 120px;
    height: 90px;
    margin-right: 10px;
}

.content .item > .video-body {
    width: calc(100% - 145px);
}

.content .item > .video-body > .channel {
    font-weight: bold;
    font-size: 16px;
    color: grey;
    text-align: right;
}

.content .item > .video-body > .title {
    font-weight: bold;
    font-size: 16px;
}